body,
html {
    background-color: rgb(240, 240, 240);
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

* a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.95);
    transition: 0.3s;
}

* li {
    list-style: none;
}

.btn-ct {
    width: 120px !important;
    height: 50px !important;
    border-radius: 2px;
    font-size: 1.15rem;
    font-family: ChatThai-Light;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-danger-ct {
    font-family: ChatThai-Light !important;
    color: #c50000 !important;
}

.btn-orange {
    background-color: rgb(193, 73, 20) !important;
    color: rgb(240, 240, 240) !important;
}

input {
    font-size: 1.5rem;
}

p {
    margin: 0 !important;

}

p,
label,
tr {
    font-size: 1.15rem;
}

.btn {
    border-radius: 2px !important;
}


.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(250, 230, 185);
}

.visibility {
    visibility: visible;
}

.area-stus {
    width: 80px;
    height: 28px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-stus p {
    font-size: 13.5px;
    color: #fff;
}

.admin-color {
    background-color: #007245;
}

.tech-color {
    background-color: #9d0202;
}

.ownerRoom-color {
    background-color: #006bae;
}

.status-color-1 {
    background-color: #9d0202;
}
.status-color-2 {
    background-color: #9d5a02;
}
.status-color-3 {
    background-color: #007245;
}